body{
	background: white;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
#myList {
    color:rgb(9, 87, 32);
    font-size: 16px;
}
#entu{
    color:rgb(9, 87, 32);
    font-size: 26px;
}

#post {
	width:65%;
	background: #f2f2f2;
	text-align: left;
	padding: 2%;
	position: relative;

	border-bottom: 3px solid #377099;
	color:#262626;
	margin-top: 20px;
	margin-left: 5%;
	margin-right:5%;
}

#postTitle{
	padding:15px;
	font-size: 14px;

}

#postText{

	padding:10px;
	font-size: 12px;
}

#postUser{

	padding:5px;
	font-size: 12px;
	color:#377099;
	text-decoration: none;
}

#postUser:hover{

	color:#66A2CC;
}

#tags{
	background:#e6e6e6;

	height: 2%;
	width:auto;

	padding:5px;
	margin-left:5px;

	font-size: 12px;
	color:#CC6866;
	text-decoration: none;

}
#tags:hover{
	color:#964C4B;
}

#contact{
	background:#e6e6e6;

	height: 2%;
	width:auto;

	padding:5px;
	margin-left:5px;

	font-size: 12px;
	color:#377099;
	text-decoration: none;

}
#contact:hover{
	color:#66A2CC
}

#UserPic{
	background:red;
	height:40px;
	width:40px;
	border: 0px solid transparent;
  	border-radius: 20px;
}

/*ACCOUNT HEADER STUFF HERE*/

#postsection{
	position:relative;
	top:70px;
	z-index:10;
}

#header1{
	width:65%;
	max-width: 700px;
	height: auto;
	background: #f2f2f2;
	text-align: left;
	padding: 2%;

	border-bottom: 6px solid #CC6866;
	color:#262626;
	margin-top: 20px;
	margin-left: 5%;
	margin-right:5%;
}

#headUsername{
	font-size:36px;
	margin:20px;
}
#headBio{
	font-size:14px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:20px;

}

#headUserPic{
	background:red;

	margin-bottom:5px;

	height:70px;
	width:70px;
	border: 0px solid transparent;
  	border-radius: 35px;
}
/*header*/

.topnav {
	height: 60px;
	left:0px;
 	width: 100%;
 	background-color: #377099;
 	position: fixed;

 	/*border-bottom: 3px solid #377099;*/
	color:#262626;


	margin-top:-20px;
	z-index:20;

  }

.topnav a {
	margin-right: 7%;
	float: right;
	display: block;
	text-align: center;
	
	padding:10px 15px;
	font-size:30px;
	font-weight:bold;
	color:white ;
  }
 

 #contactBio{ 
	margin:10px;
	padding:10px;
	font-size: 12px;
	color:#377099;

  }

  #contactBio:hover{
  	color:#66A2CC;
  }
  /*side*/

.sidebox{

	height: 100%;
	right:0px;
 	width: 20%;
 	background-color: #f2f2f2;
 	position: fixed;

	/*border: 3px solid #377099;*/
	color:#262626;
	z-index:20;
	top:70px;
	padding-top:-60px;
}



#specialbreak{
	height:50px;
}

.sideboxlink{
	color:#CC6866;
	font-size: 16px;
	position:absolute;
	margin:10px;
	padding:10px;
	height:auto;
	width:100%;
	background: #e6e6e6;
	text-decoration: none;
}

.sideboxlink:hover{

	color:#964C4B;
}